# Node
node_modules/
npm-debug.log
yarn-error.log

# React
/client/.env
/client/.env.local
/client/build/
/client/coverage/

# IDE
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS
.DS_Store
Thumbs.db